= form_for(@video, :html => { :multipart => true }) do |f|
  -if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} impidieron guardar este video:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, "Título"
    = f.text_field :title
  .field
    = f.label :movie, "Video"
    = f.file_field :movie
  .field
    = f.label :category_id, "Categoría"
    = f.select(:category_id, @categories.collect {|p| [p.name, p.id]})
  .field
    = f.label :character_id, "Personaje"
    = f.select(:character_id, @characters.collect {|p| [p.name, p.id]})
  .actions
    = f.submit 'Guardar'
