%h1 Listando videos

%table
  %tr
    %th Título
    %th Link
    %th Categoría
    %th Personaje
    %th
    %th

  - @videos.each do |video|
    %tr
      %td= link_to video.title, video
      %td= video.movie_file_name
      %td= Category.find_by_id(video.category_id.to_i).name
      %td= Character.find_by_id(video.character_id.to_i).name
      %td= link_to 'Editar', edit_video_path(video)
      %td= link_to 'Eliminar', video, :confirm => '¿Estás seguro?', :method => :delete

%br

= link_to 'Nuevo Video', new_video_path
