%h1 Listando videos

%table
  %tr
    %th Título
    %th Link
    %th Categoría
    %th Personaje
    %th
    %th
    %th

  - @videos.each do |video|
    %tr
      %td= video.title
      %td= video.movie_file_name
      %td= video.category_id
      %td= video.character_id
      %td= link_to 'Ver', video
      %td= link_to 'Editar', edit_video_path(video)
      %td= link_to 'Eliminar', video, :confirm => '¿Estás seguro?', :method => :delete

%br

= link_to 'Nuevo Video', new_video_path
