#content.container
  .block.width-1020.behavior-table
    %h6.title Videos
    .table-head
      %ul
        %li.titulo Título
        %li.archivo Archivo
        %li.categoria Categoría
        %li.personaje Personaje
      .table-body
        - @videos.each do |video|
          %ul
            %li.titulo= link_to video.title, video
            %li.archivo= truncate(video.movie_file_name, :length => 12 )
            %li.categoria= truncate(video.category.name, :length => 20 )
            %li.personaje= video.character.name
            %li.links
              - if current_user
                = link_to 'Editar', edit_video_path(video), :class => 'btn edit'
                = link_to 'Eliminar', video, :confirm => '¿Estás seguro?', :method => :delete, :class => 'btn destroy'
      .table-footer
        - if current_user
          = link_to 'Nuevo Video', new_video_path, :class => 'link'
        - else
          = link_to 'Iniciar sesión', new_user_session_path, :class => 'link'
        |
        = link_to 'XML', { :action => 'index', :format => :xml }, :class => 'link'
        = will_paginate @videos
