%p
  %b Título:
  = @video.title
%p
  %b Video Link:
  = @video.movie_file_name
%p
  %b Categoría:
  = @category
%p
  %b Personaje:
  = @character

= link_to 'Editar', edit_video_path(@video)
\|
= link_to 'Regresar', videos_path
