= form_for(@character, :html => { :multipart => true }) do |f|
  -if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} impidieron que se guarde este personaje:"
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Nombre"
    = f.text_field :name
  .field
    = f.label :image, "Imagen"
    = f.file_field :image
  .actions
    = f.submit 'Guardar'
