= if notice
  #alert
    .alert.error
      = notice

.block.width-540.centered
  %h6.title 'Registro'
  .inner
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .field
        = f.label :email, "E-mail"
        = f.email_field :email
      .field
        = f.label :password, "Contraseña"
        = f.password_field :password
      .field.checkbox
        = f.label :remember_me, 'No volver a preguntar'
        = f.check_box :remember_me
      .actions
        = f.submit "Ingresar"
