%nav.main
  .container
    %ul
      %li
        = link_to_unless_current 'Categor’as', categories_path do
          %span Categor’as
      %li
        = link_to_unless_current 'Personajes', characters_path do
          %span Personajes
      %li
        = link_to_unless_current 'Videos', videos_path do
          %span Videos
    = if current_user
      %ul#admin-menu
        %li
          = link_to 'Cerrar Sesi—n', destroy_user_session_path, :method => :delete